<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.correo" name="correo" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contra" name="contra" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="button" (click)="signIn()" class="btn btn-success btn-block">
                        SignIn
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>