<div class="row col-12 justyfy-content-center" *ngFor="let user of usuarios">
<div class="col-md-4">
    <h4 class="text-center pt-3">Nombre: {{user.nombre}}</h4>
    <p class="text-center pt-3">{{user.correo}}</p>
    <p class="text-center pt-3">{{user.descripcion}}</p>
</div>
</div>