<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignUp
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.correo" name="correo" class="form-control" placeholder="Correo" required autofocus>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contra" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <textarea  [(ngModel)]="user.descripcion" name="descripcion" id="" cols="30" rows="10" required></textarea>
                    </div>
                   
                    <button type="button" (click)="signUp()" class="btn btn-primary btn-block">
                        SignUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>